<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Buskalo</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

<div class="step-header">
  <div class="container">
    <div class="step-logo">
      <img src="img/logo.svg">
    </div>
    <div class="media">
      <img class="mr-3" src="img/doc.png">
      <div class="media-body">
        <h5 class="mt-0">¡Simple!</h5>
        <p>Completa todo el cuestionario para encontrar tu mejor opción.</p>
      </div>
    </div>

    <div class="category-modal">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#step1"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#step2"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#step3"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#step4"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#step5"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#step6"></a>
        </li>

       <!--  <div class="progress-steps">
          <div class="progress">
            <div class="progress-bar" style="width:50%"></div>
          </div>
        </div> -->
      </ul>
    </div>

  </div>
</div>

<section class="categ-step-section">
  <div class="container">
    <div class="" id="serv-step1">
      <form id="regForm" action="/action_page.php">
        <div class="tab-content">
          <div class="tab-pane active" id="step1">
            <div class="pro-heading">
              <h3 class="modal-title">4.-El servicio lo necesitas para:</h3>
              </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
              
              <div class="pro-info">
                <div class="meta-list">
                  <label class="cust-radio">Tu Hogar
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="cust-radio">Comercial (Hoteles, Oficinas, etc)
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="cust-radio">Automoviles (Buses, Busetas, Vehiculos)
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  
                </div>
              </div>
              <div style="overflow:auto;">
                <div  class="form-btn">
                  <button type="button" class="btn next-btn" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                  <button type="button" class="btn pre-btn" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="right-added">
                <div class="right-header">
                  <div class="media head-detail">
                    <img class="mr-3" src="img/dt.png">
                    <div class="media-body">
                      <p>Detalles de tu proyecto</p>
                    </div>
                  </div>

                  <div class="booking-list">
                    <ul>
                      <li>
                        <h6>Interior/Exterior</h6>
                        <p>Interior</p>
                      </li>
                      <li>
                        <h6>Que tipo de papel quieres instalar:</h6>
                        <p>De vinil</p>
                      </li>
                      <li>
                        <h6>Metraje Aproximado:</h6>
                        <p>De 0 a 20 m2</p>
                      </li>
                      <li>
                        <h6>Como consideras el trabajo que necesitas:</h6>
                        <p>Mediano</p>
                      </li>
                      <li>
                        <h6>Describeno Brevemente lo que necesitas_</h6>
                        <p>Instalacion de vinil para decoracion de Sala</p>
                      </li>
                      <li>
                        <h6>Para cuando necesitas tu servicio:</h6>
                        <p>Dentro de 48 horas</p>
                      </li>
                      <li>
                        <h6>Interior/Exterior</h6>
                        <p>Interior</p>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
           </div>
          </div>

            <div class="tab-pane fade" id="step2">
            <div class="mid-steps">
              <div class="mid-heading">
                <h2 class="modal-title"> ¡Perfecto!</h2>
                <p>Vamos a finalizar tu solicitud de forma segura</p>
              </div>
              <div class="mid-data-fill">
                <div class="mid-head">
                  <div class="media">
                    <img class="mr-3" src="img/shield.png">
                    <div class="media-body">
                      <h5 class="mt-0">Ingresa la dirección de donde necesitas el Servicio</h5>
                    </div>
                  </div>
                </div>
                <div class="form-detail">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <input type="text" name="" placeholder="Escribir Aquí">
                    </div>
                  </div>
                </div>
              </div>

              <div  class="form-btn mid-btn">
                <button type="button" class="btn next-btn" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                <button type="button" class="btn pre-btn" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
              </div>
           </div>

            </div>
            <div class="tab-pane fade" id="step3">
              <div class="mid-steps">
              <div class="mid-heading">
                <h2 class="modal-title"> Identifícate</h2>
              </div>
              <div class="mid-data-fill">
                <div class="mid-head">
                  <div class="media">
                    <img class="mr-3" src="img/shield.png">
                    <div class="media-body">
                      <h5 class="mt-0">Ingresa tu nombre completo</h5>
                    </div>
                  </div>
                </div>
                <div class="form-detail">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <input type="text" name="" placeholder="Escribir Aquí">
                    </div>
                  </div>
                </div>
              </div>

              <div  class="form-btn mid-btn">
                <button type="button" class="btn next-btn" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                <button type="button" class="btn pre-btn" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
              </div>
           </div>
            </div>

            <div class="tab-pane fade" id="step4">
              <div class="mid-steps">
              <div class="mid-heading">
                <h2 class="modal-title"> Te enviaremos un código SMS para <br>validar tu solicitud</h2>
              </div>
              <div class="mid-data-fill">
                <div class="mid-head">
                  <div class="media">
                    <img class="mr-3" src="img/shield.png">
                    <div class="media-body">
                      <h5 class="mt-0">Ingresa tu numero de Celular</h5>
                    </div>
                  </div>
                </div>
                <div class="form-detail">
                    <div class="input-group form-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="country-code">+593</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Escribir Aquí">
                    </div>
                </div>
              </div>

              <div  class="form-btn mid-btn">
                <button type="button" class="btn next-btn" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                <button type="button" class="btn pre-btn" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
              </div>
           </div>
            </div>
            <div class="tab-pane fade" id="step5">
              <div class="mid-steps">
              <div class="mid-heading">
                <h2 class="modal-title">¡Casi Listo!</h2>
              </div>
              <div class="mid-data-fill">
                <div class="mid-head">
                  <div class="media">
                    <img class="mr-3" src="img/shield.png">
                    <div class="media-body">
                      <h5 class="mt-0">Ingresa el codigo de Seguridad enviado a +593<sup>*******</sup>9854</h5>
                    </div>
                  </div>
                </div>
                <div class="form-detail">
                    <div class="form-group code-num">
                      <input type="text" class="form-control">
                      <input type="text" class="form-control">
                      <input type="text" class="form-control">
                      <input type="text" class="form-control">

                      <span class="code-counter">0:45 segundos</span>
                    </div>
                </div>
              </div>

              <div  class="form-btn mid-btn">
               
                <button type="button" class="btn pre-btn" id="nextBtn" onclick="nextPrev(1)">Validar</button>
              </div>
           </div>
            </div>

            <div class="tab-pane fade" id="step6">
              <div class="step-final-div mid-steps">
                <div class="media">
                  <img class="" src="img/shield.png">
                  <div class="media-body">
                    <h3 class="mt-0">¡Felicitaciones!</h3>
                    <p><b>Tu solicitud ha sido aprobada,</b><br> en máximo 24 horas recibiras la información de hasta 3 profesionales que cumplan con tus requisitos y que estén interesados de ayudarte.</p>

                    <p>¡Bienvenido a la nueva era!</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
          
        </form>
      </div>
      
  </div>

  </div>
</section>



<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>


  </body>
</html>
